<% if @lessons.present? %>
  <h4>Lessons</h4>
  <% @lessons.each do |lesson| %>
        <%= lesson.title %>
  <% end %>
<% end %>

<% if @categories.present? %>
  <h4>Category</h4>
  <% @categories.each do |category| %>
    <%= category.name %>
  <% end %>
<% end %>

<% if @instructors.present? %>
  <h4>Instructors</h4>
  <% @instructors.each do |user| %>
    <%= user.name %>
    <%= user.role %>
  <% end %>
<% end %>

