<div class="search-container">
<h4>Lessons</h4>
<% if @lessons.present? %>
  <% @lessons.each do |lesson| %>
        <%= link_to lesson.title, "lessons/#{lesson.id}" %>
  <% end %>
<% else %>
<h5>There are no lessons matching your search term.</h5>
<% end %>

<h4>Categories</h4>
<% if @categories.present? %>
  <% @categories.each do |category| %>
        <%= link_to category.name, "categories/#{category.id}" %>
  <% end %>
<% else %>
<h5>There are no categories matching your search term.</h5>
<% end %>

<h4>Instructors</h4>
<% if @users.present? %>
  <% @users.each do |user| %>
    <% if user.role == "instructor" %>
        <%= link_to user.name, "users/#{user.id}" %>
    <% else %>
    <h5>There are no instructors matching your search term.</h5>
    <% end %>
  <% end %>
<% else %>
<h5>There are no instructors matching your search term.</h5>
<% end %>
</div>