*{
  box-sizing: border-box;
}



.user-image img{
  border-radius: 100%;
}

.instruct-header h2{
  margin-top: 50px;
}

.instructor-view-bookings  {
  width: 600px;
  margin: 0 auto;
}

.instructor-view-bookings h4 a{
  font-style: sans-serif;
  color: red;
}

.lesson-bookings-header {
  width: 600px;
  margin: 0 auto;
}

.view-lessons-booked  {
  width: 600px;
  margin: 0 auto;
}

.lessons-booked-header {
  width: 600px;
  margin: 0 auto;
}


