<div class="review-container">
  <h4>What our students have to say:</h4>

  <% @reviews.each do |review| %>
    <blockquote>
      <p><%= review.comment %></p>
       <footer><%= review.user.name %>,<cite title="Source Title"> <%= review.lesson.title %></cite></footer>
    </blockquote>
  <% end %>
</div>

